body{
  background-image: url("./image/image_photobucket.jpg");
  background-color: white; 
  background-size:cover;
}
table {
  margin: 100px auto 50px; 
  background-color: rgba(51, 102, 153,0.8);

}
.bt {
  border:1px black solid; 
  background-color: transparent;
  border-radius: 0.5em; 
  width:2rem;
  height: 2rem;
  min-width: 10em; 
  min-height: 10em;
}

.bt i {
  font-size:3rem; 
}

#start {
  background-color: rgb(0, 51, 204);
  border: none;
  border-radius: 0.2rem; 
  color:rgb(255,255,255);
  display: block;
  font-size: 1.0rem;
  margin:0 auto; 
  padding: 0.5rem;
  width: 10rem;
}